.btn-bg
{
  background-image: url('/assets/imgs/btnLabelPressed.png');
  color:#b4c6ec;
}

.input-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:3vh;
}

.text-sliver
{
  color: #b4c6ec;
  text-shadow: 0px 1.5px 1px black;
}

input[type="password"]
{
  background-image: url('/assets/imgs/picPasswordBg.png');
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-color: rgb(89,19,249);
  border-radius: 8px;
  color: white;

  &.invalid
  {
    border-color: red;
    border-width: 2px;
  }
}



.button-area
{
  position: absolute;
  width:100%;
  bottom: 5vh;
  height:10vh;

  label
  {
    margin:0;
    padding: 0;
    display: inline-block;
    width: 37%;

    .form-btn-base
    {
      background-size: 100% 100%;
      background-position-y: 2px;
      max-width:100%;
      max-height: 8vh;
    }
  }

}

