<div class="root-base setting-bg">
  <div class="flex-container">
    <div class="row-flex no-margin no-padding setting-top">
      <span *ngIf="false" class="title">ˊ'account.title' | translate }}</span>
      <picture class="titleImg">
        <source class="titleImg" [srcset]="'account.titleImg' | translate">
        <img class="titleImg" [srcset]="'account.titleImg' | translate" />
      </picture>
      <a routerLink="/lobby" >
        <img class="close-button" (click)="btnSound('sound_pressbtn05')"
        src="/assets/imgs/btnSettingLeaveNormal.png">
      </a>
    </div>
  </div>

  <div class="main-content">
    <!-- 頁籤 -->
    <img class="short-label" [srcset]="'account.label' | translate" />
        <form id="resetPasswordForm" action="#">

          <div *ngIf="false" class="d-flex text-center justify-content-start" style="margin-left:2vw;">
              <span class="btn-bg btn-label">{{'account.RESET PASSWORD' | translate }}</span>
          </div>

          <div class="wrapper">
              <!-- 新密碼 -->
              <div class="input-container">
                <div class="col-12">
                  <label for="newPassword" class="text-sliver">{{'account.NEW PASSWORD' | translate }}</label>
                  <input type="password" id="password" class="form-control" name="newPassword" />
                </div>
              </div>

              <!-- 確認新密碼 -->
              <div class="input-container">
                <div class="col-12">
                  <label for="currentPassword" class="text-sliver">{{'account.CONFIRM NEW PASSWORD' | translate }}</label>
                  <input type="password" id="confirm" class="form-control" name="currentPassword" />
                </div>
              </div>
          </div>

        <div class="button-area d-flex justify-content-around align-items-center">
            <label for="submitBtn" class="d-inline-block">
              <input hidden id="submitBtn" type="button" value="SAVE">
              <img draggable="false" [srcset]="'account.saveImgNormal' | translate" class="form-btn-base"
                (click)     ="btnSound('sound_pressbtn04'); submitClicked();"
                (mousedown) ="setSavePressed($event)"
                (touchstart)="setSavePressed($event)"
                (mouseup)   ="setSaveNormal($event)"
                (touchend)  ="setSaveNormal($event)"
                (mouseleave)="setSaveNormal($event)"
              />
            </label>

            <label for="resetBtn" class="d-inline-block">
              <input hidden id="resetBtn" type="button" value="CANCEL">
              <img draggable="false" [srcset]="'account.cancelImgNormal' | translate" class="form-btn-base"
                (click)     ="btnSound('sound_pressbtn05'); resetClicked();"
                (mousedown) ="setCancelPressed($event)"
                (touchstart)="setCancelPressed($event)"
                (mouseup)   ="setCancelNormal($event)"
                (touchend)  ="setCancelNormal($event)"
                (mouseleave)="setCancelNormal($event)"
              />
            </label>
        </div>
      </form>
    </div>
    <div *ngIf="successPrompt || errorPrompt" id="alert" class="alert">
        <div class="position-relative d-flex justify-content-center">
          <img id="confirmBtn" [srcset] = "'account.confirmBtnNormal' | translate" 
            (click)      = "btnSound('sound_pressbtn05'); closePrompt();"
            (mousedown)  = "setConfirmPressed($event)"
            (touchstart) = "setConfirmPressed($event)"
            (mouseup)    = "setConfirmNormal($event)"
            (touchend)   = "setConfirmNormal($event)"
            (mouseleave) = "setConfirmNormal($event)"
          />        
          
          <picture style="width:95%;" *ngIf="successPrompt">
            <source style="width:100%" [srcset]="('account.successPrompt' | translate)+'.webp'" type="image/webp" />
            <img style="width:100%" [srcset]="'account.successPrompt' | translate" />
          </picture>
          <picture style="width:95%;" *ngIf="errorPrompt">
              <source style="width:100%" [srcset]="('account.errorPrompt' | translate)+'.webp'" type="image/webp" />
              <img style="width:100%" [srcset]="'account.errorPrompt' | translate" />
            </picture>
        </div>
      </div>
</div>

