<section class="root-base" id="lobby-background">
    <app-header ></app-header>

    <!-- 廣播元件 -->
    <img src="/assets/imgs/segTop.png" draggable="false" alt="separateLine" style="position: absolute; top: 66px; width: 100%">
    <div class="marquee-bg">
      <img src="/assets/imgs/iconMarqueeSpeaker@2x.png" draggable="false" alt="marqueeFrame">
    </div>


    <div class="game-container">
      <!-- <div id="menu-seperater"></div> -->
      <!-- 遊戲種類選擇元件 -->
      <div class="menu-container">
          <button id="game-filter-bg" class="row-flex" (mousedown)="toggleMenuOnShow()" (blur)="this.menuShow=false">

            <div >
              <span class="basic-text-style" id="menu-text" >{{('lobby.' + getMenuSelect().value) | translate}}</span>
              <img [src]="menuShow === false ?
                          '/assets/imgs/iconGameMenuDown.png' :
                          '/assets/imgs/iconGameMenuUp.png'"
                          draggable="false" [alt]="menuShow === false ? 'collapse' : 'expand'">
            </div>

          </button>
          <!-- poppup setting content padding-top: 11px;-->
          <div id="game_popper" [ngStyle]="{'display': this.menuShow === true ? 'block' : 'none'}">
            <div class="unselectable" id="menuPopup">
              <ng-container *ngFor="let option of menuList">
                  <div class="menu-option-bg" (mousedown)="setMenuSelect(option.value);toggleMenuOnShow()">
                      <span class="basic-text-style " style="padding-left: 9.6%">{{('lobby.' + option.value) | translate}}</span>
                  </div>
              </ng-container>
            </div>
          </div>
      </div>



      <!-- 遊戲顯示元件  -->
      <div id="normal-game-container" (mousedown)="startScroll($event)" (touchstart)="startTouch($event)">
          <div class="gameSeparate"></div>
          <ng-container *ngFor="let item of getHotGame();let first = first">
            <div id="hot-game-frame" *ngIf="first" [routerLink]="['/game' ,item.gameCategory ,item.gameName ]">
              <img id="hot-Tag" [src]="'lobby.hotGameTag' | translate" draggable="false" alt="hotGameTag">
              <img id="hot-pic" [src]="item.gameImgUrl" draggable="false" [alt]="item.gameName">
              <img id="hot-frame" src="/assets/imgs/picGameFrameLarge.png" draggable="false" alt="hotGameFrame">
            </div>
          </ng-container>


          <ng-container *ngFor="let item of getNormalGame()">
            <div class="normal-game-frame" [routerLink]="['/game' ,item.gameCategory ,item.gameName]">
              <img class="normal-pic" [src]="item.gameImgUrl" draggable="false" [alt]="item.gameName">
              <img id="normal-frame" src="/assets/imgs/picGameFrameSmall.png" draggable="false" alt="normalGameFrame">
            </div>
          </ng-container>
          <div class="gameSeparate"></div>
      </div>
      <div id="carousel-seperater"></div>
      <!-- 輪播牆元件 -->
      <div class="carousel-container">
          <div id="carouselExampleIndicators" class="carousel slide"
          data-ride="carousel"  data-interval="false" data-wrap="true" data-pause="hover">
            <ol class="carousel-indicators" >
              <ng-container *ngFor="let item of getCarouselGame();let index = index;let first = first">
                <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="index" [ngClass]="{'active': first}"></li>
              </ng-container>
            </ol>
            <div class="carousel-inner" >
              <ng-container *ngFor="let item of getCarouselGame();let first = first;let index = index">
                  <div [ngClass]="{'active': first, 'carousel-item': true}" >
                      <div class="banner-game-frame">
                          <img class="carousel-content"  [src]="item.gameImgUrl" draggable="false" [alt]="index + 'slide'"  >
                          <img class="carousel-frame" src="/assets/imgs/picBannerFrame.png" draggable="false" alt="carouselFrame"  >
                      </div>
                  </div>
              </ng-container>
            </div>
          </div>
      </div>
    </div>

    <app-nav-bar></app-nav-bar>

    <!-- 登出元件 -->
    <div id="logout-box" class="blurContainer" hidden>
      <div class="confirm-box">

        <img class="leaveBtn" draggable="false" src="/assets/imgs/btnLogoutLeaveNormal.png" alt="NO"
            (mousedown) ="setClosePressed($event)"
            (touchend)  ="setCloseNormal($event)"
            (touchstart)="setClosePressed($event)"
            (mouseup)   ="setCloseNormal($event)"
            (mouseleave)="setCloseNormal($event)"
            (click)     ="closeLogoutBox()"
        >

        <div class="text-center text-message">{{ 'lobby.logoutMessage' | translate }}</div>

        <div class="img-btn d-flex justify-content-around">
          <img class="yes" draggable="false" [src]="'lobby.yesImgNormal' | translate " alt="YES"
            (mousedown) ="setYesPressed($event)"
            (touchend)  ="setYesNormal($event)"
            (touchstart)="setYesPressed($event)"
            (mouseup)   ="setYesNormal($event)"
            (mouseleave)="setYesNormal($event)"
            (click)     ="logout()"
          >
          <img class="no" draggable="false" [src]=" 'lobby.noImgNormal' | translate " alt="NO"
            (mousedown) ="setNoPressed($event)"
            (touchend)  ="setNoNormal($event)"
            (touchstart)="setNoPressed($event)"
            (mouseup)   ="setNoNormal($event)"
            (mouseleave)="setNoNormal($event)"
            (click)     ="closeLogoutBox()"
            >
        </div>

      </div>
    </div>

    <div id="blurItem" class="blurContainer" hidden></div>
</section>



