#lobby-background {
  background: url('/assets/imgs/picBgLobby@2x.png') transparent;

  // background-position: center;
  background-repeat: no-repeat;
  background-size: 100% calc(100% + 66px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


// 遊戲列表 start
.game-container {
  width: 100%;

  // mobile portrait
  @media screen and (min-height: 730px) and (max-width: 494px) and (orientation: portrait) {
    height: calc(100vh - 106px - 85px);
    // max-height: calc(840px - 106px - 85px);
  }
  @media screen and (max-height: 729px) and (max-width: 494px) and (orientation: portrait) {
    height: calc(100vh - 66px - 67px);
    // max-height: calc(840px - 66px - 67px);
  }
  // mobile landscape
  @media screen and (min-width: 737px) and (max-height: 494px) and (orientation: landscape) {
    height: calc(100vw - 106px - 85px);
  }
  @media screen and (max-width: 736px) and (max-height: 494px) and (orientation: landscape) {
    height: calc(100vw - 66px - 67px);
  }
  // PC
  height: calc(840px - 106px - 85px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}



#normal-game-container {
  height: 55%;
  width: 100%;
  margin-top: 2%;
  // Mobile
  @media screen and (max-width: 495px) and (orientation: portrait),
  (max-height: 495px) and (orientation: landscape) {
    height: 77.4vmin;
  }
  @media only screen
    and (min-width : 414px) and (max-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3),
    (min-height : 414px) and (max-height : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3)
    {
      height: 74vmin;
    }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;

  &::-webkit-scrollbar
  {
     display: none;
  }

  #hot-game-frame {
    width: 29.2%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    #hot-Tag {
      position: absolute;
      top: 3px;
      z-index: 1;
      width: 62.6%;
    }
    #hot-pic {
      width: 95%;
      height: 98%;
      position: absolute;
      top: 3px;
    }
    #hot-frame {
      width: 100%;
      height: 100%;;
      position: absolute;
      top: 0;
    }
  }
  .normal-game-frame {
    width: 29.7%;
    height: 49.6%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    .normal-pic {
      width: 95%;
      height: 94%;
      position: absolute;
      top: 3px;
    }
    #normal-frame {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  .gameSeparate {
    height: 100%;
    width: 2%;
  }
}



// 遊戲列表 end




// 遊戲種類選單 start
.menu-container {
  position: relative;
  z-index: 3;
  justify-content: flex-start;
  margin: 15px 0 0 2%;
  #game-filter-bg {
    background: url('/assets/imgs/picGameMenuBg@2x.png');
    background-size: 100%100%;
    background-repeat: no-repeat;

    width: 43%;
    padding-top: 9.2%;
    margin: 0 0 0 1px;

    outline: none;
    border: none;
    position: relative;
    z-index: 3;

    div {
      width: 100%;
      height: 100%;;
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      #menu-text {
        // PC
        @media screen  and (min-width: 1000px){
          font-size: 16px;
        }
        position: absolute;
        left: 0;
        margin-bottom: 2px;
        margin-left: 9.6%;
      }
      img {
        width: 9%;

        position: absolute;
        right: 8.3%;
        top: 32%;
      }
    }
    &:hover {
      cursor: default;
    }
  }
}

#game_popper {
  background: url('/assets/imgs/picGameMenuBgExpand.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 43%;
  padding-top: 40%;
  z-index: 2;
  position: absolute;
  top: 5px;
  #menuPopup {
    position: absolute;
    top: 22%;
    height: 73%;
    width: 100%;

    display: flex;
    flex-direction: column;

    @media screen  and (min-width: 1000px){
      font-size: 16px;
    }
  }
}


.menu-option-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;

  height: 95%;
  &:hover {
    background: url('/assets/imgs/picGameMenuSelect@2x.png');
    background-size: 100%100%;
    background-repeat: no-repeat;
  }
}
// 遊戲種類選單 end




// 廣播訊息 start
.marquee-bg {
  background: url('/assets/imgs/picMarqueeBg@2x.png');

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 67px;

  height: 22px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  img {
    margin: 7.5px;
    width: 9px;
    height: 13px;
  }
}
// 廣播訊息 end



// 輪播牆 start
.carousel-container {
  width: 100%;
  #carouselExampleIndicators {
    width: 100%;
    .carousel-inner {
      width: 100%;
      .carousel-item {
        width: 100%;
        .banner-game-frame {
          padding-top: 34%;
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          position: relative;
          img.carousel-frame {
            height: 100%;
            width: 98%;
            position: absolute;
            top: 0;
          }
          img.carousel-content {
            height: 87%;
            position: absolute;
            top: 6%;
          }
        }
      }
    }
  }
  .carousel-indicators {
    top: 95%;
    li {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: gray;
      &.active {
        background-color: yellow;
      }
    }
  }
}
// 輪播牆 end


.outer-container {
  flex: row;
  justify-content: flex-start;
  align-items: center;
  margin:0px;
}

.blurContainer
{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);

  .confirm-box
  {

    position: relative;
    background-image: url('/assets/imgs/picLogoutFrame@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 96%;
    padding-top: 65%;
    height: 0;

    .leaveBtn
    {
      position: absolute;
      top: -2.5%;
      right: -1%;
    }

    .text-message
    {
      width: 100%;
      position: absolute;
      top: 35%;
      color: whitesmoke;
      text-shadow: 0px 2px 2px black;
    }
    .img-btn
    {
      position: absolute;
      width: 100%;
      padding-top: 11.7%;
      height: 0;
      bottom: 19.4%;
      img{
        width: 29.7%;
        height: 100%;
        position: absolute;
        top: 0;
      }
      img.yes {
        left: 13.4%;
      }
      img.no {
        right: 13.4%;
      }
    }
  }
}


#carousel-seperater {
  width: 100%;
  height: 5px;
}
