#lobby-background {
  background: url('/assets/imgs/bgLobby-v@2x.png') transparent;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around; */
  justify-content: flex-start;
  /* // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around | stretch */
  overflow: hidden;
}


// 遊戲列表 start
.game-container {
  width: 100%;
  @media screen and (min-height: 760px){
    height: calc(100vh - 106px - 85px);
    max-height: calc(840px - 106px - 85px);
  }
  @media screen and (max-height: 759px){
    height: calc(100vh - 66px - 67px);
    max-height: calc(840px - 66px - 67px);
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}



#normal-game-container {
  height: 55%;
  width: 100%;
  margin-top: 2%;
  @media only screen and (max-width: 415px) {
    max-height: 281px;
  }

  // 對齊輪播牆
  @media only screen and (max-width: 450px)      // pix 2,pix 2 XL i6+,i7+,i8+
  {
    margin-left: 9%;
    width: 91%;
  }
  @media only screen and (max-width: 376px)      // i6,i7,i8
  {
    margin-left: 4.5%;
    width: 95.5%
  }
  @media only screen and (max-width: 361px)      //GL s5
  {
    margin-left: 3%;
    width: 97%;
  }
  @media only screen and (max-width: 341px)    //i5 SE
  {
    margin-left: 4.5%;
    width: 95.5%
  }
  @media screen  and (min-width: 416px)       // PC
  {
    margin-left: 4.5%;
    width: 95.5%
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;

  &::-webkit-scrollbar
  {
     display: none;
  }

  #hot-game-frame {
    width: 32%;
    height: 100%;
    @media screen  and (max-width: 415px) and (min-width: 360px){
      width: 107px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    #hot-Tag {
      position: absolute;
      top: 4px;
      z-index: 1;
      width: 62.6%;
    }
    #hot-pic {
      height: 96.7%;;
      position: absolute;
    }
    #hot-frame {
      height: 100%;
      position: absolute;
       top: 1px;
    }
  }
  .normal-game-frame {
    width: 33%;
    height: 50%;
    @media screen  and (max-width: 415px) and (min-width: 360px){ // normal mobile
      width: 107px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    .normal-pic {
      height: 94%;
      position: absolute;
    }
    #normal-frame {
      height: 100%;
      position: absolute;
    }
  }
}

// 遊戲列表 end




// 遊戲種類選單 start
.menu-container {
  position: relative;
  z-index: 3;
  justify-content: flex-start;

  // 對齊輪播牆
  @media only screen and (max-width: 415px)      // pix 2,pix 2 XL i6+,i7+,i8+
  {
    margin-left: 9%;
    margin-top: 7%;
  }
  @media only screen and (max-width: 376px)      // i6,i7,i8
  {
    margin-left: 4.5%;
    margin-top: 5%;
  }
  @media only screen and (max-width: 361px)      //GL s5
  {
    margin-left: 3%;
    margin-top: 3%;
  }
  @media only screen and (max-width: 341px)    //i5 SE
  {
    margin-left: 5.5%;
    margin-top: 3%;
  }
  @media screen  and (min-width: 416px)       // PC
  {
    margin-left: 4.5%;
    margin-top: 5%;
  }
  #game-filter-bg {
    background: url('/assets/imgs/picGameMenuBg@2x.png');
    background-size: 100%100%;

    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;

    width: 43%;
    height: 33px;
    padding: 0px 16px 0px 10px;
    margin-left: 1px;

    outline: none;
    border: none;

    position: relative;
    z-index: 3;
    &:hover {
      cursor: default;
    }

    @media screen  and (min-width: 1000px){
      font-size: 16px;
    }
  }

}

#menuPopup {
  position: absolute;
  top: 20%;
  height: 75%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media screen  and (min-width: 1000px){
    font-size: 16px;
  }
}

.menu-option-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;

  min-height: 26px;
  padding-left: 11px;

  &:hover {
    background: url('/assets/imgs/picGameMenuSelect@2x.png');
    background-size: 100%100%;
    background-repeat: no-repeat;
  }
}
// 遊戲種類選單 end




// 廣播訊息 start
.marquee-bg {
  background: url('/assets/imgs/picMarqueeBg@2x.png');

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 22px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  img {
    margin: 7.5px;
    width: 9px;
    height: 13px;
  }
}
// 廣播訊息 end



// 輪播牆 start
.carousel-container {
  height: 24.6%;
  @media only screen and (max-width: 415px) {
    max-height: 125px;
  }
  @media only screen and (min-width: 416px) {
    height: 23.5%;
  }

  #carouselExampleIndicators {
    height: 100%;
    width: 100%;
    .carousel-inner {
      height: 100%;
      width: 100%;
      .carousel-item {
        height: 100%;
        width: 100%;
        .banner-game-frame {
          height: 100%;
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          position: relative;
          img.carousel-frame {
            height: 100%;

            position: absolute;
          }
          img.carousel-content {
            height: 87%;

            position: absolute;
          }
        }
      }
    }
  }
  .carousel-indicators {
    @media only screen and (max-height: 639px) {
      top: 65%
    }
    @media only screen and (min-height: 640px)  {
      top: 73%;
    }

    li {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: gray;
      &.active {
        background-color: yellow;
      }
    }
  }
}
// 輪播牆 end


.outer-container {
  flex: row;
  justify-content: flex-start;
  align-items: center;
  margin:0px;
}


.carousel-container {
  @media only screen and (max-height: 667px)              // Galaxy S5  I6,I7,I8
  {
    margin-top: 0;
  }
  @media only screen and (max-height: 736px) and (min-height: 668px)   // I6+ ,I7+ ,I8+, Pixel2
  {
    margin-top: 5%;
  }
  @media only screen and (max-height: 823px) and (min-height: 737px) and (max-width: 500px)  // I 10, Pixel 2XL
  {
    margin-top: 12%;
  }
  @media screen and (min-height: 900px) {       // tablet
    margin-top: 5%;
  }
}

#logout-box
{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);

  #confirm-box
  {

    position: relative;
    background-image: url('/assets/imgs/picLogoutFrame@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 95%;
    height: 40%;

    #leaveBtn
    {
      position: absolute;
      top: -2.5%;
      right: -2.5%;
    }

    .text-message
    {
      margin-top: 25%;
      color: whitesmoke;
      text-shadow: 0px 2px 2px black;
    }
    .img-btn
    {
      margin-top: 10%;
      padding:0 8%;
      img{ width: 40%; }
    }
  }


}
