#lobby-background {
  background: url('/assets/imgs/bgLobby-v@3x.png') transparent;
  //height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around; */
  justify-content: flex-start;
  /* // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around | stretch */
}

.game-container {
  position: absolute;
  top: 66px;
  bottom: 66px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#hot-game-frame {
  width: 107px;
  height: 281px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

#normal-game-container {
  height: 281px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  overflow-x: scroll;
}

.normal-game-frame {
  width: 107px;
  height: 139.5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  img {
    position: absolute;
  }
}


