*:not(input) {
  user-select: none;
}

.setting-bg {
  position: relative;
  background: url("/assets/imgs/picSettingBg.png") transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:500px;
  max-height:812px;
  width: 100vw;
  height: 100vh;
}

.main-content
{
  width:100%;
  height:85%;
  margin-top:10%;
}

.setting-top {
  width:100%;
  color: #b4c6ec;
  padding: 0.6vh 0;
  font-size: 3.2vh;
  font-weight: 450;
  background-clip: text;
  text-shadow:0 1.5px 1px black;
}

.close-button-base
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: inline-block;
  position: absolute;
  top: 1vh;
  right: 1vh;
  width: 5vh;
  height: 5vh;
  min-height: 20px;
  min-width: 20px;
  max-height: 40px;
  max-width: 40px;
}

.close-button {
  background-image: url("/assets/imgs/btnSettingLeaveNormal.png");
}

.close-button:active {
  background-image: url("/assets/imgs/btnSettingLeavePressed.png");
}

.btn-label
{
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:177px;
  width: 47vw;
  height: 40px;
  padding-top:0.5vh;
  font-size:2.5vh;
  color:#6b8fda;
  text-shadow:0 1.5px 1px black;

  &:hover
  {
    cursor:pointer;
  }
}

.btn-label-long
{
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:410px;
  width: 95vw;
  height: 40px;
  padding-top:0.5vh;
  font-size:2vh;
  color:#6b8fda;
  text-shadow:0 1.5px 1px black;
}

.wrapper
{
  border-top: 3px solid #0044BB;
}

.span-button-icon
{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
