<section class="root-base" id="login-backround">
  <div class=flex-container>
    <div class="row-flex">
        <img src="/assets/imgs/picLogoEn.png">
    </div>
        <!-- poppup setting content padding-top: 11px;-->
        <popper-content #popperSetting >
          <div class="unselectable" id="langPopup">
            <ng-container *ngFor="let ele of langList">
              <div class="lang-option-bg" style="justify-content: flex-start" (click)="setLang(ele.lang);popperSetting.hide()">
                <img [src]="ele.img" class="langFlag">
                <span class="lang-text">{{ele.label}}</span>
              </div>
            </ng-container>
          </div>
        </popper-content>
    <div class="row-flex" style="position: relative;z-index: 2;">
      <button id="lang-bg" class="row-flex"
      (popperOnShown)="langSelectOnShow()"
      (popperOnHidden)="langSelectOnShow()"
      [popper]="popperSetting"
      [popperTrigger]="'click'"
      [popperHideOnClickOutside]="true"
      [popperHideOnScroll]="true"
      [popperDisableStyle]="true"
      [popperPlacement]="'bottom'"
      [popperStyles]="{
      background: 'url(\' /assets/imgs/picLanMenuBgExpand.png\')',
      'background-size': '100%auto',
      'background-repeat': 'no-repeat',
      'width': '152px',
      'min-height': '153px',
      'z-index': 1
      }"
      [popperModifiers]="{
        offset: {
          enabled: true,
          offset: '0px,-31px'
        },
        flip: {
          enabled: false,
          behavior: ['right','left','top']
        },
        preventOverflow: {
          escapeWithReference: true
        }
      }">
        <img [src]="getLang().img" class="langFlag">
        <span class="lang-text">{{getLang().label}}</span>
        <img [src]="langShow == false ?
        '/assets/imgs/iconLanMenuDown.png' :
        '/assets/imgs/iconLanMenuUp.png'" style="margin-top: 4px;position: absolute; right: 7px;" >
      </button>
    </div>


    <div class="row-flex">
      <div class=column-flex id="account-container">
        <input [(ngModel)]="account" type="text" id="account"
        class="blue-color" placeholder="PLAYER ID">
      </div>
    </div>

    <div class="row-flex">
      <div class=column-flex id="password-container">
        <input [(ngModel)]="password" type="text" id="password"
        class="blue-color" placeholder="PLAYER ID">
      </div>
    </div>

    <div class="row-flex">
      <div class="row-flex" [ngStyle]="{'width': '135px'}"></div>
      <div class="row-flex" style="margin-top: 0px;align-items: center" >
        <div class="column-flex remember-checkbox" (click)="toggleRemeberValue()">
          <img id="check-img"  src="/assets/imgs/iconRememberCheck.png" [ngStyle]="getRememberStyle()">
        </div>
        <div class="column-flex" >
          <label for="remember-me" class="unselectable remember-text" style="margin-bottom: 0px;" >
              REMEMBER ME
          </label>
        </div>
        <input type="checkbox" id="remember-me" style="display: none" [(ngModel)]="this.remember">
      </div>
    </div>

    <div class="row-flex">
      <div class="column-flex" >
        <button id="loginBtn" (click)="login()">
          <img id="changeBtn"
          src="/assets/imgs/btnLoginNormal.png">
        </button>
      </div>
    </div>

  </div>
</section>


