<section class="login-root-base">
  <div class=flex-container id="login-backround">

    <!-- Treasure Island Icon-->
    <div class="row-flex w100" id="main-icon-container">
        <img [src]="'login.mainicon' | translate" draggable="false" alt="TreasureIsland">
    </div>

    <!-- 選擇語系元件-->
    <div class="row-flex w100" style="margin-top: 30px">
      <button id="lang-bg" class="row-flex" (mousedown)="togglePopper()" (blur)="closePopper()">
        <div>
          <img [src]="getLang().img" class="langFlag">
          <span class="lang-text">{{getLang().label}}</span>
          <img id="pointer" [src]="langShow == false ?
          '/assets/imgs/iconLanMenuDown.png' :
          '/assets/imgs/iconLanMenuUp.png'"  >
        </div>
      </button>

      <!-- poppup setting content -->
      <div id="popper_content" [ngStyle]="{'display': this.langShow === true ? 'block' : 'none'}" >
        <div class="unselectable" id="langPopup">
          <ng-container *ngFor="let ele of langList">
            <div class="lang-option-bg" style="justify-content: flex-start" (mousedown)="setLang(ele.lang);closePopper()">
              <img [src]="ele.img" class="langFlag" draggable="false" [alt]="ele.label">
              <span class="lang-text">{{ele.label}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- 帳號元件-->
    <div class="column-flex w100"  id="account-container" style="margin-top: 15px">
      <input [(ngModel)]="account" type="text" id="account"
        class="basic-text-style" placeholder="{{'login.account_holder' | translate}}">
    </div>

    <!-- 密碼元件-->
    <div class="column-flex w100"  id="password-container">
      <input [(ngModel)]="password" type="text" id="password" type="password"
        class="basic-text-style" placeholder="{{ 'login.password_holder' | translate }}">
    </div>

    <!-- 記住我元件-->
    <div class="row-flex w100" id="remember-container" style="margin-top: 10px">
      <div class="column-flex remember-checkbox" (click)="toggleRemeberValue()">
        <img id="check-img"  src="/assets/imgs/iconRememberCheck.png" [ngStyle]="getRememberStyle()"
        draggable="false" alt="check">
      </div>
      <div class="column-flex" >
        <label for="remember-me" class="unselectable basic-text-style" >
            {{ 'login.rememberMe' | translate}}
        </label>
      </div>
      <input type="checkbox" id="remember-me" style="display: none" [(ngModel)]="this.remember" (change)="setRememberValue()">
    </div>

    <!-- 登入按鈕-->
    <div class="row-flex w100" style="margin-top: 20px">
      <button id="loginBtn" (click)="login()" >
        <img alt="Login"
        [src]="'login.loginbtn' | translate"
        (mousedown)="$event.currentTarget.src=translate.instant('login.loginbtnpressed')"
        (mouseup)="$event.currentTarget.src=translate.instant('login.loginbtn')"
        (mouseleave)="$event.currentTarget.src=translate.instant('login.loginbtn')"
        (touchstart)="$event.currentTarget.src=translate.instant('login.loginbtnpressed')"
        (touchend)="$event.currentTarget.src=translate.instant('login.loginbtn')"
        draggable="false">
      </button>
    </div>

  </div>
</section>


