
<div class="row-flex-no-margin-padding" id="header-bg">

    <div class="row-flex" id="name-bg" >
        <img  id="iconId">
        <span class="setting-text">HELLO</span>
      </div>


      <div class="row-flex" id="credit-bg">
          <img id="iconCredit">
          <span class="credit-text">3,245,568.00</span>
        </div>


        <!--width: '51vw',
              height: '42vh',  -->
        <button class="no-padding" id="settingButton"
              [popper]="popperSetting"
              [popperTrigger]="'click'"
              [popperHideOnClickOutside]="true"
              [popperHideOnScroll]="true"
              [popperDisableStyle]="true"

              [popperStyles]="{
              background: 'url(\' /assets/imgs/picSettingMenuBg.png\')',
              'background-size': 'contain',
              'background-repeat': 'no-repeat',
              width: '186px',
              height: '271px',
              'min-width': '186px',
              'min-height': '271px'
              }"

              [popperModifiers]="{
                offset: {
                  enabled: true,
                  offset: '18vw,1vh'
                },
                flip: {
                  enabled: true,
                  behavior: ['bottom','right','left','top']
                },
                preventOverflow: {
                  escapeWithReference: true
                }
              }"
            >
              <img>
            </button>


  <!-- poppup setting content -->
  <popper-content #popperSetting >
    <div class="column-flex setting-text unselectable" style="padding-top: 11px;">

      <div class="row-flex justify-start">
        <div class="column-flex">
          MUSIC
        </div>
        <div class="column-flex">
          v.2019.07.03
        </div>
      </div>

      <hr>
      <div class="row-flex justify-start">
        <div class="column-flex">
          SOUND
        </div>
        <div class="column-flex">
          v.2019.07.03
        </div>
      </div>

      <hr>
      <div class="row-flex justify-start">
        <div class="column-flex">
          VERSION
        </div>
        <div class="column-flex">
            v.2019.07.03
        </div>
      </div>

      <hr>
      <div class="row-flex justify-start" >
        <div class="column-flex">
          <span routerLink="/download">DOWNLOAD APP</span>
        </div>
      </div>

      <hr>
      <div class="row-flex justify-start">
          <div class="column-flex">
            LOGOUT
          </div>
        </div>
    </div>
  </popper-content>


  <button class="no-padding" id="logoutButton">
        <img>
      </button>

</div>

