
<div class="row-flex-no-margin-padding" id="header-bg">

      <div class="row-flex" id="name-bg" >
        <img  id="iconId">
        <span class="basic-text-style">Hello</span>
      </div>


      <div class="row-flex" id="credit-bg">
          <img id="iconCredit">
          <span class="basic-text-style">3,245,568.00</span>
      </div>

      <button class="no-padding" id="settingButton"
              [popper]="popperSetting"
              [popperTrigger]="'click'"
              [popperHideOnClickOutside]="true"
              [popperHideOnScroll]="true"
              [popperDisableStyle]="true"
              [popperStyles]="{
              background: 'url(\' /assets/imgs/picSettingMenuBg.png\')',
              'background-size': '100%100%',
              'background-repeat': 'no-repeat',
              width: '52%',
              height: '40%',
              'min-width': '186px',
              'min-height': '271px',
              'z-index': 4
              }"
              [popperModifiers]="{
                offset: {
                  enabled: true,
                  offset: '35%p'
                },
                flip: {
                  enabled: true,
                  behavior: ['bottom','right','left','top']
                },
                preventOverflow: {
                  escapeWithReference: true
                }
              }"
            >
              <img>
      </button>

  <button class="no-padding" id="logoutButton">
    <img>
  </button>



</div>

<!-- poppup setting content padding-top: 11px;-->
<popper-content #popperSetting >
    <div class="column-flex basic-text-style unselectable justify-space-between"
     style="position: absolute;top: 5%;height: 90%;width: 95%; flex-wrap: nowrap;">

      <div class="row-flex setting-item">
        <div class="column-flex">
          {{ 'lobby.setting.music' | translate }}
        </div>
        <label  id='MusicButtonContainer' for="MusicBotton" (click)="printMusic()">
          <input type="checkbox" id="MusicBotton" style="display: none" [(ngModel)]="msuic">
          <span [ngClass]="{
            'on-off': getMusic() === false
          }" [ngStyle]="{'margin-left': getMusic() === true ? '8px' : ''}">
          {{this.getMusic() === true ? ('lobby.setting.on' | translate) : ''}}
          </span>
          <span [ngClass]="{
            'on-off': getMusic() === true
          }" [ngStyle]="{'margin-right': getMusic() === false ? '8px' : ''}">
          {{this.getMusic() === false ? ('lobby.setting.off' | translate) : ''}}
        </span>
        </label>
      </div>

      <hr>
      <div class="row-flex setting-item">
        <div class="column-flex">
          {{ 'lobby.setting.sounds' | translate }}
        </div>
        <label  id='SoundButtonContainer' for="SonudBotton" (click)="printSound()">
            <input type="checkbox" id="SonudBotton" style="display: none" [(ngModel)]="sound">
            <span [ngClass]="{
              'on-off': getSound() === false
            }" [ngStyle]="{'margin-left': getSound() === true ? '8px' : ''}">
            {{this.getSound() === true ? ('lobby.setting.on' | translate) : ''}}
            </span>
            <span [ngClass]="{
              'on-off': getSound() === true
            }" [ngStyle]="{'margin-right': getSound() === false ? '8px' : ''}">
            {{this.getSound() === false ? ('lobby.setting.off' | translate) : ''}}
          </span>
          </label>
      </div>

      <hr>
      <div class="row-flex setting-item">
        <div class="column-flex">
          {{ 'lobby.setting.version' | translate }}
        </div>
        <div class="column-flex">
            v.2019.07.03
        </div>
      </div>

      <hr>
      <div class="row-flex setting-item" routerLink="/download" >
        <div class="column-flex">
          <span >{{ 'lobby.setting.download' | translate }}</span>
        </div>
      </div>

      <hr>
      <div class="row-flex setting-item" routerLink="/" >
        <div  class="column-flex">
          {{'lobby.setting.logout' | translate }}
        </div>
      </div>
    </div>
</popper-content>
