#header-bg {
  background: url('/assets/imgs/picTopBg@2x.png');
  background-repeat: no-repeat;
  background-size: 100%100%;

  height: 66px;

  width: 100%;

  justify-content: space-evenly;
  align-items: center;
  /* // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around | stretch */

}

#name-bg {
  background: url('/assets/imgs/picIdFrameEmpty@2x.png');
  background-size: 100%100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  width: 26.4%;

  align-items: center;
  justify-content: space-around;
}

#iconId {
  height: 53%;
}

#credit-bg {
  background: url('/assets/imgs/picCreditFrame@2x.png');
  background-size: 100%100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 71%;
  width: 42%;
  max-width: 190px;

  align-items: center;
  justify-content: space-around;
}

#iconCredit  {
  height: 55.3%;
  margin-left: 5px;
  width: auto;
}



#settingButton {
  background: none;
  outline: none;
  border: 0px;
  margin: 0px;
  min-width: 26px;
  min-height: 22px;
  width: 7.2%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 28px;
    height: 25px;
    content: url('/assets/imgs/btnSettingMenuNormal@2x.png')
  }
  &:active {
    img {
      width: 36px;
      height:32px;
      content: url('/assets/imgs/btnSettingMenuPressed@2x.png');
    }
  }
}

.setting-menu-container {
  position: absolute;
  top: 5%;
  height: 90%;
  width: 95%;
  flex-wrap: nowrap;
  justify-content: space-around
}
.setting-item {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:5%;
  justify-content: space-between;
  height: 12%;
}


#logoutButton {
  background: none;
  outline: none;
  border: 0px;
  margin: 0px;
  min-width: 29px;
  min-height: 22px;
  width: 7.7%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 31px;
    height: 25px;
    content: url('/assets/imgs/btnLogoutNormal@2x.png')
  }
  &:active {
    img {
      width: 39px;
      height: 32px;;
      content: url('/assets/imgs/btnSettingLogoutPressed@2x.png')
    }
  }
}

.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}

#musicContainer, #soundContainer {
  height: 100%;
  img {
    max-height: 35px;
    min-height: 25px;
    height: 100%;
  }
  margin: 0px;
}


