#header-bg {
  background: url('/assets/imgs/picTopBg.png');
  background-repeat: no-repeat;
  background-size: 100%100%;

  height: 66px;

  width: 100%;

  justify-content: space-evenly;
  align-items: center;
  /* // 修改以下值試試看 flex-start | flex-end | center | space-between | space-around | stretch */

}

#name-bg {
  background: url('/assets/imgs/picIdFrameEmpty.png');
  background-size: 100%100%;
  background-repeat: no-repeat;
  background-position: center;
  //height: 33px;
  //width: 95px;
  height: 50%;
  width: 26.4%;

  align-items: center;
  justify-content: space-around;
}

#iconId {
  height: 53%;
  width: 12.6%;
  content: url('/assets/imgs/iconId.png')
}

#credit-bg {
  background: url('/assets/imgs/picCreditFrame.png');
  background-size: 100%100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 71%;
  width: 42%;


  align-items: center;
  justify-content: space-around;
}

#iconCredit  {
  height: 55.3%;
  margin-left: 5px;
  width: auto;
  content: url('/assets/imgs/iconCreditDollar.png');
}


#settingButton {
  background: none;
  outline: none;
  border: 0px;
  margin: 0px;
  min-width: 26px;
  min-height: 22px;
  width: 7.2%;
  img {
    content: url('/assets/imgs/btnSettingMenuNormal.png')
  }
  &:active {
    img {
      content: url('/assets/imgs/btnSettingMenuPressed.png');
    }
  }
}
.setting-item {
  flex-shrink: 1;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:5%;
  justify-content: space-between;
}


#logoutButton {
  background: none;
  outline: none;
  border: 0px;
  margin: 0px;
  min-width: 29px;
  min-height: 22px;
  width: 7.7%;
  img {
    content: url('/assets/imgs/btnLogoutNormal.png')
  }
  &:active {
    img {
      content: url('/assets/imgs/btnSettingLogoutPressed.png')
    }
  }
}

.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
  flex-shrink: 1;
  color: rgb(255 100 200);
  width: 90%;

}

.justify-start {
  justify-content: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.on-off {
  width: 24px;
  height:  24px;
  margin-left: 3px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('/assets/imgs/btnMusicSelected.png')/* url(  開關Off ) */
}

.on-margin {
  margin-left: 4px;
  margin-right: 4px;
}

#MusicButtonContainer, #SoundButtonContainer {
  width: 70px;
  height: 30px;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('/assets/imgs/btnMusicBg.png');/* url(  開關Off ) */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


