<section id="login-backround">
  <div class=flex-container>
    <div class="row-flex">
        <img src="../../../assets/imgs/picLogoEn.png">
    </div>

    <div class="row-flex">

    </div>

    <div class="row-flex">
      <div class=column-flex id="account-container">
        <input [(ngModel)]="account" type="text" id="account"
        class="blue-color" placeholder="PLAYER ID">
      </div>
    </div>

    <div class="row-flex">
      <div class=column-flex id="password-container">
        <input [(ngModel)]="password" type="text" id="account"
        class="blue-color" placeholder="PLAYER ID">
      </div>
    </div>

    <div class="row-flex">
      <div class="column-flex">
        <button id="loginBtn">
          <img id="changeBtn" src="../../../assets/imgs/btnLoginNormal.png" alt="">
        </button>
      </div>
    </div>

  </div>
</section>
