.menu-option {
  background: url('/assets/imgs/btnLobbyBg.png');
  background-repeat: no-repeat;
  background-size: 100%100%;

  height: 10.3vh;
  width: 25vw;

  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  img {
    height: 66%;
    width: 42%;
  }
}

.menu-bg {
  padding: 0px;
  margin: 0px;
}

button.menu-option:active {
  #lobby {
    content: url('/assets/imgs/btnLobbyPressed.png');
  }
  #history {
    content: url('/assets/imgs/btnHistoryPressed.png');
  }
  #account {
    content: url('/assets/imgs/btnAccountPressed.png');
  }
  #contact {
    content: url('/assets/imgs/btnContactPressed.png');
  }
}
button.menu-option:hover {
  cursor: pointer;
}
