.menu-option {
  min-height: 66px;
  width: 25%;
  background: url('/assets/imgs/btnLobbyBg.png') no-repeat;
  background-size: 100% 100%;

  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  img {
    max-width: 120%;
    max-height: 120%;
    height: 66%;
  }
}

.menu-bg {
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}

button.menu-option:hover {
  cursor: pointer;
}
