#nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.menu-button {
  min-height: 66px;
  width: 25%;
  background: url('/assets/imgs/btnLobbyBg@2x.png') no-repeat;
  background-size: 100% 100%;

  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;

  vertical-align: middle;

  img {
    height: 44px;
  }
}

.menu-bg {
  padding: 0px;
  margin: 0px;
  flex-direction: row;
  align-items: center;
}

button.menu-button:hover {
  cursor: pointer;
}


