.btn-bg
{
  background-image: url('/assets/imgs/btnLabelLargePressed.png');
  color:#b4c6ec;
}
.outer
{
  padding:0 3%;
  height: 18%;
}

.contact-row
{
  width: 100%;
  border-bottom: 1px solid #0044BB;

  .email-warpper
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 12.7%;
    height:0;
  }
  .phone-warpper
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 14.18%;
    height:0;
  }
  .whatsapp-warpper
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 13.90%;
    height:0;
  }
  .wechat-warpper
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 13%;
    height:0;
  }
  .line-warpper
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 13.3%;
    height:0;
  }

  .detail
  {
    display: inline-block;
    color:#c0cfef;
    width:70%;
    text-align: right;
    text-shadow:0 1.5px 1px black;
  }

  .icon
  {
    height: 100%;
    position: absolute;
    top: 0;
  }
}
