.btn-bg
{
  background-image: url('/assets/imgs/btnLabelLargePressed.png');
  color:#b4c6ec;
}
.outer
{
  padding:0 3%;
  height: 12vh;
  background-color: rgb(46,6,146);
}

.contact-row
{
  width: 100%;
  border-bottom: 1px solid #0044BB;

  .detail
  {
    display: inline-block;
    color:#c0cfef;
    width:70%;
    text-align: right;
    text-shadow:0 1.5px 1px black;
  }

  .icon
    {
      display: inline-block;
      width:25%;
      height:100%;
      background-repeat: no-repeat;
      background-position: center;

      &.email-icon
      {
        background-image: url('/assets/imgs/iconContactEmail@3x.png');
        background-size: 60% 60%;
      }

      &.phone-icon
      {
        background-image: url('/assets/imgs/iconContactPhone@3x.png');
        background-size: 60% 60%;
      }

      &.whatsApp-icon
      {
        background-image: url('/assets/imgs/iconContactWhatsapp@3x.png');
        background-size: 80% 60%;

      }

      &.weChat-icon
      {
        background-image: url('/assets/imgs/iconContactWechat@3x.png');
        background-size: 60% 60%;
      }


      &.line-icon
      {
        background-image: url('/assets/imgs/iconContactLine@3x.png');
        background-size: 40% 70%;
      }
    }
}
