<div class="root-base setting-bg">
  <div class="flex-container">
    <div class="row-flex-no-margin-padding setting-top">
      <span *ngIf="false" class="title">{{'contact.title' | translate}}</span>
      <img class="titleImg" [src]="'contact.titleImg' | translate" />
      <a routerLink="/lobby" >
        <img class="close-button" src="/assets/imgs/btnSettingLeaveNormal.png">
      </a>
    </div>
  </div>

  <div class="main-content">
  <!-- 頝籤 -->
  <img class="long-label" [src]="'contact.label' | translate" />
  <div *ngIf="false" class="d-flex text-center justify-content-center">
      <span class="btn-bg btn-label-long">{{'contact.REACH US WITH FOLLOWING CONTACT DETAILS' | translate}}</span>
  </div>

  <div class="wrapper">

    <!-- E-mail -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <div class="email-warpper"><img [src]="'contact.email-icon' | translate" class="icon"/></div>
        <span class="detail text-sliver">TREASURE.ISLAND@GMAIL.COM</span>
      </div>
    </div>
    <!-- Phone -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <div class="phone-warpper"><img [src]="'contact.phone-icon' | translate" class="icon"/></div>
        <span class="detail text-sliver">+86-1398886457</span>
      </div>
    </div>

    <!-- WhatsApp -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <div class="whatsapp-warpper"><img [src]="'contact.whatsApp-icon' | translate" class="icon"/></div>
        <span class="detail text-sliver">TREASURE.ISLAND</span>
      </div>
    </div>

    <!-- WeChat -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <div class="wechat-warpper"><img [src]="'contact.weChat-icon' | translate" class="icon"/></div>
        <span class="detail text-sliver">TREASURE.ISLAND</span>
      </div>
    </div>

    <!-- Line -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <div class="line-warpper"><img [src]="'contact.line-icon' | translate" class="icon"/></div>
        <span class="detail text-sliver">TREASURE.ISLAND</span>
      </div>
    </div>
  </div>
</div>

