<div class="setting-bg">
  <div class="flex-container">
    <div class="row-flex-no-margin-padding setting-top">
      <span class="title">CONTACT US</span>
      <a routerLink="/lobby">
        <span class="close-button close-button-base"><!-- 圖片 --></span>
      </a>
    </div>
  </div>

  <div class="main-content">
      <!-- 頁籤 -->
      <div class="d-flex text-center justify-content-start" style="margin-left:2vw;">
          <span class="btn-bg btn-label-long">REACH US WITH FOLLOWING CONTACT DETAILS</span>
      </div>

      <div class="wrapper">
        <table>
          <tbody>
            <!-- E-mail -->
            <tr class="contact-meta">
              <td>
                <div>
                  <span class="icon email-icon"></span>
                  <span class="contact d-flex">
                    <span class="d-inline-block">TREASURE.ISLAND@GMAIL.COM</span>
                  </span>
                </div>
              </td>
            </tr>

            <!-- Phone -->
            <tr class="contact-meta">
              <td>
                <div>
                  <span class="icon phone-icon"></span>
                  <span class="contact d-flex">
                    <span class="d-inline-block">+86-1398886457</span>
                  </span>
                </div>
              </td>
            </tr>

            <!-- WhatsApp -->
            <tr class="contact-meta">
              <td>
                <div>
                  <span class="icon whatsApp-icon"></span>
                  <span class="contact d-flex">
                    <span class="d-inline-block">TREASURE.ISLAND</span>
                  </span>
                </div>
              </td>
            </tr>

            <!-- WeChat -->
            <tr class="contact-meta">
              <td>
                <div>
                  <span class="icon weChat-icon"></span>
                  <span class="contact d-flex">
                    <span class="d-inline-block">TREASURE.ISLAND</span>
                  </span>
                </div>
              </td>
            </tr>

            <!-- Line -->
            <tr class="contact-meta">
              <td>
                <div>
                  <span class="icon line-icon"></span>
                  <span class="contact d-flex">
                    <span class="d-inline-block">TREASURE.ISLAND</span>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

