.btn-bg
{
  background-image: url('/assets/imgs/btnLabelLargePressed.png');
  color:#b4c6ec;
}
.outer
{
  padding:0 3%;
  @media screen and ( orientation: portrait )  { height: 12vh; }
  @media screen and ( orientation: landscape ) { height: 12vw; }
}

.contact-row
{
  width: 100%;
  border-bottom: 1px solid #0044BB;

  .icon-warpper
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height:100%;
  }
  .detail
  {
    display: inline-block;
    color:#c0cfef;
    width:70%;
    text-align: right;
    text-shadow:0 1.5px 1px black;
  }

  .icon
  {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 58%;
  }
}
