<div class="root-base setting-bg">
  <div class="flex-container">
    <div class="row-flex-no-margin-padding setting-top">
      <span class="title">CONTACT US</span>
      <a routerLink="/lobby" class="close-button close-button-base"></a>
    </div>
  </div>

  <div class="main-content">
  <!-- 頁籤 -->
  <div class="d-flex text-center justify-content-center">
      <span class="btn-bg btn-label-long">REACH US WITH FOLLOWING CONTACT DETAILS</span>
  </div>

  <div class="wrapper">

    <!-- E-mail -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <span class="icon email-icon"></span>
        <span class="detail text-sliver">TREASURE.ISLAND@GMAIL.COM</span>
      </div>
    </div>
    <!-- Phone -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <span class="icon phone-icon"></span>
        <span class="detail text-sliver">+86-1398886457</span>
      </div>
    </div>

    <!-- WhatsApp -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <span class="icon whatsApp-icon"></span>
        <span class="detail text-sliver">TREASURE.ISLAND</span>
      </div>
    </div>

    <!-- WeChat -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <span class="icon weChat-icon"></span>
        <span class="detail text-sliver">TREASURE.ISLAND</span>
      </div>
    </div>

    <!-- Line -->
    <div class="outer d-flex">
      <div class="contact-row d-flex justify-content-around align-items-center">
        <span class="icon line-icon"></span>
        <span class="detail text-sliver">TREASURE.ISLAND</span>
      </div>
    </div>
  </div>
</div>

