<div class="setting-bg">
  <div class="flex-container">
    <div class="row-flex-no-margin-padding setting-top">
      <span class="title">DOWNLOAD APP</span>
      <a routerLink="/lobby">
        <span class="close-button close-button-base"><!-- 圖片 --></span>
      </a>
    </div>
  </div>

  <div class="main-content">
      <!-- 頁籤 -->
      <div class="d-flex text-center justify-content-start" style="margin-left:2vw;">
          <span class="btn-bg btn-label-long">DOWNLOAD <span style="color:rgb(0,246,255)">TREASURE ISLAND</span> APP</span>
      </div>

      <div class="wrapper">
        <div class="outer d-flex">
          <div class="download-row d-flex">
            <span class="span-button-icon ios-icon"></span>
            <div class="text-sliver">
              <span class="d-block">TREASURE ISLAND</span>
              <span class="d-block">IOS APP</span>
            </div>
            <span class="span-button-icon download-btn"></span>
          </div>
        </div>

        <div class="outer d-flex">
          <div class="download-row d-flex">
            <span class="span-button-icon android-icon"></span>
            <div class="text-sliver">
              <span class="d-block">TREASURE ISLAND</span>
              <span class="d-block">ANDROID APP</span>
            </div>
            <span class="span-button-icon download-btn"></span>
          </div>
        </div>
      </div>
</div>

