.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 494px) and (orientation: portrait) {
    height: 100vh;
    width: 100vw;
  }
  @media screen and (max-height: 494px) and (orientation: landscape) {
    height: 100vw;
    width: 100vh;
    max-height: 100vw;
    max-width: 100vh;
    transform: rotate(-90deg) translateX(calc(50vw - 50vh));
  }
}

.none {
  display: none;
}
