<div class="screen">
    <picture>
      <source srcset="/assets/imgs/picTopBgExpand.png.webp" type="image/webp">
      <img class="header-banner" src="/assets/imgs/picTopBgExpand.png" [ngClass]="{'none': isLoginOrGame() }" draggable="false" alt="topBanner">
    </picture>
    <router-outlet></router-outlet>
    <picture>
      <source srcset="/assets/imgs/btnBgExpand.png.webp" type="image/webp">
      <img class="bottom-banner" src="/assets/imgs/btnBgExpand.png" [ngClass]="{'none': isLoginOrGame() }" draggable="false" alt="bottomBanner">
    </picture>
    <audio id="music_lobbybg"    src="/assets/audio/music_lobbybg.mp3"    loop   style="display: none"></audio>
    <audio id="sound_pressbtn01" src="/assets/audio/sound_pressbtn01.mp3"   style="display: none"></audio>
    <audio id="sound_pressbtn02" src="/assets/audio/sound_pressbtn02.mp3"   style="display: none"></audio>
    <audio id="sound_pressbtn03" src="/assets/audio/sound_pressbtn03.mp3"   style="display: none"></audio>
    <audio id="sound_pressbtn04" src="/assets/audio/sound_pressbtn04.mp3"   style="display: none"></audio>
    <audio id="sound_pressbtn05" src="/assets/audio/sound_pressbtn05.mp3"   style="display: none"></audio>
  </div>
