<div class="root-base setting-bg">
  <div class="row-flex-no-margin-padding setting-top">
    <span *ngIf="false" class="title">{{ 'history.title' | translate }}</span>
    <img class="titleImg" [src]="'history.titleImg' | translate" />
    <a routerLink="/lobby">
      <img class="close-button" src="/assets/imgs/btnSettingLeaveNormal.png">
    </a>
  </div>

  <div class="main-content">
    <div class="d-flex justify-content-around" style="position: relative">
      <img class="short-label" id="tab-01" (click)="tabChange(1)" [src]="'history.labelGameHistoryPressed' | translate" />
      <img class="short-label" id="tab-00" (click)="tabChange(0)" [src]="'history.labelInOutHistoryNormal' | translate" />
    </div>


    <!-- 資料主體 -->
    <div class="wrapper">
      <!-- table-header 查詢欄 -->
      <div class="search-row d-flex align-items-center justify-content-around position-relative">
        <span class="text-sliver" style="font-size:2vh">{{ 'history.time' | translate }}</span>

        <span class="text-sliver time-input">
          {{ startDate }}
          <img id="datepicker-begin" [src]="'/assets/imgs/btnCalendarNormal@2x.png'" class="icon-date"/>
          <input type="date" class="ui-datepicker-begin" [value]="startDate"
            (focus) = "setDatepickerPressed('datepicker-begin')"
            (input) = "setDatepickerNormal('datepicker-begin')"
            (input) = "startDateChange($event)"
            (blur)  = "setDatepickerNormal('datepicker-begin')"
          >
        </span>

        <span class="text-sliver" style="font-size:2vh">{{ 'history.to' | translate }}</span>

        <span class="text-sliver time-input">
          {{ endDate }}
          <img id="datepicker-end" [src]="'/assets/imgs/btnCalendarNormal@2x.png'" class="icon-date"/>
          <input type="date" class="ui-datepicker-end" [value]="endDate"
            (focus) = "setDatepickerPressed('datepicker-end')"
            (input) = "setDatepickerNormal('datepicker-end')"
            (input) = "endDateChange($event)"
            (blur)  = "setDatepickerNormal('datepicker-end')"
          >
        </span>

        <img draggable="false" [src]="'history.goImgNormal' | translate" class="go-btn-base"
          (mousedown)  ="setGoPressed($event)"
          (touchstart) ="setGoPressed($event)"
          (touchend)   ="setGoNormal($event)"
          (mouseup)    ="setGoNormal($event)"
          (mouseleave)="setGoNormal($event)"
          (click) = "sendQuery()"
        />
      </div>

      <app-game-records [gameRecrods]="gameRecrods" [hidden]="!selectPage"></app-game-records>
      <app-io-records [ioRecrods]="ioRecrods" [hidden]="selectPage"></app-io-records>

      <div class="pageSelect-container">
        <img class="first-page" [src]="'/assets/imgs/btnFirstPageNormal@2x.png'"
          (mousedown)  ="setFirstPageBtnPressed($event)"
          (touchstart) ="setFirstPageBtnPressed($event)"
          (touchend)   ="setFirstPageBtnNormal($event)"
          (mouseup)    ="setFirstPageBtnNormal($event)"
          (mouseleave) ="setFirstPageBtnNormal($event)"
          (click)      ="setPage( 0 )"
        />
        <img class="prev-page" [src]="'/assets/imgs/btnPreviousPageNormal@2x.png'"
          (mousedown)  ="setPrevPageBtnPressed($event)"
          (touchstart) ="setPrevPageBtnPressed($event)"
          (touchend)   ="setPrevPageBtnNormal($event)"
          (mouseup)    ="setPrevPageBtnNormal($event)"
          (mouseleave) ="setPrevPageBtnNormal($event)"
          (click)      ="changePage( -1 )"
        />
        <span class="page-frame">{{ currentPage+1 }}</span>
        <img class="next-page" [src]="'/assets/imgs/btnNextPageNormal@2x.png'"
          (mousedown)  ="setNextPageBtnPressed($event)"
          (touchstart) ="setNextPageBtnPressed($event)"
          (touchend)   ="setNextPageBtnNormal($event)"
          (mouseup)    ="setNextPageBtnNormal($event)"
          (mouseleave) ="setNextPageBtnNormal($event)"
          (click)      ="changePage( 1 )"
        />
        <img class="final-page" [src]="'/assets/imgs/btnLastPageNormal@2x.png'"
          (mousedown)  ="setFinalPageBtnPressed($event)"
          (touchstart) ="setFinalPageBtnPressed($event)"
          (touchend)   ="setFinalPageBtnNormal($event)"
          (mouseup)    ="setFinalPageBtnNormal($event)"
          (mouseleave) ="setFinalPageBtnNormal($event)"
          (click)      ="setPage( selectPage ?  gameRecordTotalPage-1 : ioRecordTotalPage-1 )"
        />
      </div>

    </div>
  </div>
</div>
