<div class="root-base setting-bg">
  <div class="row-flex no-margin no-padding setting-top">
    <span *ngIf="false" class="title">{{ 'history.title' | translate }}</span>
    <picture>
      <source class="titleImg" [srcset]="('history.titleImg' | translate)+'.webp'" type="image/webp">
      <img class="titleImg" [srcset]="'history.titleImg' | translate" draggable="false"/>
    </picture>
    <a routerLink="/lobby">
      <img class="close-button" (click)="btnSound('sound_pressbtn05')" draggable="false"
      src="/assets/imgs/btnSettingLeaveNormal.png">
    </a>
  </div>

  <div class="main-content">
    <div class="d-flex justify-content-around" style="position: relative">
        <img class="short-label" id="tab-00" (click)="btnSound('sound_pressbtn02');tabChange(0)"
        [srcset]="'history.labelGameHistoryPressed' | translate" draggable="false"/>
        <img class="short-label" id="tab-01" (click)="btnSound('sound_pressbtn02');tabChange(1)"
        [srcset]="'history.labelInOutHistoryNormal' | translate" draggable="false"/>
    </div>

    <!-- 資料主體 -->
    <!-- 

     -->
    <div class="wrapper">
      <!-- table-header 查詢欄 -->
      <div class="search-row d-flex align-items-center justify-content-around position-relative">
        <span class="text-sliver" style="font-size:2vh">{{ 'history.time' | translate }}</span>

        <span class="text-sliver time-input"
          (touchstart) = "startDateChange($event)"
          (touchstart) = "btnSound('sound_pressbtn03')"
        >
          {{ startDate }}
            <img id="datepicker-begin" [srcset]="'/assets/imgs/btnCalendarNormal@2x.png'" class="icon-date" draggable="false" />
          </span>
          <input type="text" class="ui-datepicker-begin">

        <span class="text-sliver" style="font-size:2vh">{{ 'history.to' | translate }}</span>

        <span class="text-sliver time-input"
          (touchstart) = "endDateChange($event)"
          (touchstart) = "btnSound('sound_pressbtn03')"
        >
          {{ endDate }}
          <img id="datepicker-end" [srcset]="'/assets/imgs/btnCalendarNormal@2x.png'" class="icon-date" draggable="false" />
        </span>
        <input type="text" class="ui-datepicker-end">

        <img draggable="false" [srcset]="'history.goImgNormal' | translate" class="go-btn-base" draggable="false"
          (mousedown)  ="setGoPressed($event)"
          (touchstart) ="setGoPressed($event)"
          (touchend)   ="setGoNormal($event)"
          (mouseup)    ="setGoNormal($event)"
          (mouseleave)="setGoNormal($event)"
          (click) = "sendQuery();btnSound('sound_pressbtn04');"
        />
      </div>

      <app-game-records [gameRecrods]="gameRecrods" [hidden]="selectTab"></app-game-records>
      <app-io-records [ioRecrods]="ioRecrods" [hidden]="!selectTab"></app-io-records>

      <div class="pageSelect-container">
        <img class="first-page" [srcset]="'/assets/imgs/btnFirstPageNormal@2x.png'" draggable="false"
          (mousedown)  ="setFirstPageBtnPressed($event)"
          (touchstart) ="setFirstPageBtnPressed($event)"
          (touchend)   ="setFirstPageBtnNormal($event)"
          (mouseup)    ="setFirstPageBtnNormal($event)"
          (mouseleave) ="setFirstPageBtnNormal($event)"
          (click)      ="setPage( 0 );btnSound('sound_pressbtn03');"
        />
        <img class="prev-page" [srcset]="'/assets/imgs/btnPreviousPageNormal@2x.png'" draggable="false"
          (mousedown)  ="setPrevPageBtnPressed($event)"
          (touchstart) ="setPrevPageBtnPressed($event)"
          (touchend)   ="setPrevPageBtnNormal($event)"
          (mouseup)    ="setPrevPageBtnNormal($event)"
          (mouseleave) ="setPrevPageBtnNormal($event)"
          (click)      ="changePage( -1 );btnSound('sound_pressbtn03');"
        />
        <span class="page-frame">{{ currentPage+1 }}</span>
        <img class="next-page" [srcset]="'/assets/imgs/btnNextPageNormal@2x.png'" draggable="false"
          (mousedown)  ="setNextPageBtnPressed($event)"
          (touchstart) ="setNextPageBtnPressed($event)"
          (touchend)   ="setNextPageBtnNormal($event)"
          (mouseup)    ="setNextPageBtnNormal($event)"
          (mouseleave) ="setNextPageBtnNormal($event)"
          (click)      ="changePage( 1 );btnSound('sound_pressbtn03');"
        />
        <img class="final-page" [srcset]="'/assets/imgs/btnLastPageNormal@2x.png'" draggable="false"
          (mousedown)  ="setFinalPageBtnPressed($event)"
          (touchstart) ="setFinalPageBtnPressed($event)"
          (touchend)   ="setFinalPageBtnNormal($event)"
          (mouseup)    ="setFinalPageBtnNormal($event)"
          (mouseleave) ="setFinalPageBtnNormal($event)"
          (click)      ="setPage( selectTab === 0 ?  gameRecordTotalPage-1 : ioRecordTotalPage-1 );btnSound('sound_pressbtn03');"
        />
      </div>

    </div>
  </div>
</div>
