<div class="root-base setting-bg">
  <div class="row-flex-no-margin-padding setting-top">
    <span class="title">{{ 'history.title' | translate }}</span>
    <a routerLink="/lobby" class="close-button close-button-base"></a>
  </div>

  <div class="main-content">
    <!-- 頁籤 -->
    <div class="d-flex text-center justify-content-around">
        <span (click)="tabChange(1)" [class.active]="selectPage" class="btn-bg btn-label">{{ 'history.GAME HISTORY' | translate }}</span>
        <span (click)="tabChange(0)" [class.active]="!selectPage" class="btn-bg btn-label">{{ 'history.IN/OUT HISTORY' | translate }}</span>
    </div>

    <!-- 資料主體 -->
    <div class="wrapper">
      <!-- table-header 查詢欄 -->
      <div class="search-row d-flex align-items-center justify-content-around">
        <span class="text-sliver" style="font-size:2vh">{{ 'history.time' | translate }}</span>
        <span class="text-sliver time-input">
            2019-06-10
            <span class="span-button-icon icon-date"></span>
        </span>
        <span class="text-sliver" style="font-size:2vh">{{ 'history.to' | translate }}</span>
        <span class="text-sliver time-input">
          2019-06-14
          <span class="span-button-icon icon-date"></span>
        </span>
        <img draggable="false" [src]="'history.goImgNormal' | translate" class="go-btn-base"
          (mousedown)  ="setGoPressed($event)"
          (touchstart) ="setGoPressed($event)"
          (touchend)   ="setGoNormal($event)"
          (mouseup)    ="setGoNormal($event)"
          (mouseleave)="setGoNormal($event)"
        />
      </div>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
