/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  touch-action: manipulation;
}

.custom-justify-content-center {
  // mobile
  @media screen and (max-width: 494px){
    justify-content: center !important;
  }
  // PC
  @media screen and (min-width: 495px){
    app-root {
      margin: auto;
    }
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;

  justify-content: center;

}

.column-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;

  justify-content: center;

}

.row-flex-no-margin-padding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: center;

}

.column-flex-no-margin-padding {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: center;

}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.basic-text-style {
  color: white;
  font-weight: 450;
  text-shadow:0 1.5px 1px black;
}

input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {

  -webkit-text-fill-color: #ededed !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
  background-color:transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s; //背景色透明  生效時長  過渡效果  啟用時延遲的時間
}
input {
   background-color:transparent;
}

.bottom-banner {
  content: url('/assets/imgs/btnBgExpand.png');
  height: 18px;
  min-width:320px;
  max-width:494px;
  @media screen and (min-height: 730px) and (orientation: portrait) {
    width: 100vw;
  }
  @media screen and (min-width: 737px) and (orientation: landscape) {
    width: 100vh;
  }


  @media screen and (max-height: 729px) and (orientation: portrait),
  (max-width: 736px) and (orientation: landscape){
    display: none;
  }
}

.header-banner {
  content: url('/assets/imgs/picTopBgExpand.png');
  height: 40px;
  min-width:320px;
  max-width:494px;
  @media screen and (min-height: 730px) and (orientation: portrait) {
    width: 100vw;
  }
  @media screen and (min-width: 737px) and (orientation: landscape) {
    width: 100vh;
  }

  @media screen and (max-height: 729px) and (orientation: portrait),
  (max-width: 736px) and (orientation: landscape) {
    display: none;
  }
}
