
<!-- 給android的遊戲畫面 -->
<section *ngIf="this.isIphone === false; else iphone_area"
 [ngClass]="{
   'landscape-frame': gameItem.Orientation === 'landscape',
   'portrait-frame': gameItem.Orientation === 'portrait'
  }">
    <iframe [src]="this.iframeURL" frameborder="0" webkitallowfullscreen="true" allowfullscreen="true"
    mozallowfullscreen="true" allowfullscreen="true" (load)="addListenerInIframe();" allowSyntheticDefaultImports></iframe>
</section>



<!-- 給ios的遊戲畫面 -->
<ng-template #iphone_area>
  <div [ngClass]="{
    'ios-landscape-body': gameItem.Orientation === 'landscape',
    'ios-portrait-body': gameItem.Orientation === 'portrait'
  }">
    <div class="iframe-container fixed scroll no-scrollbar">
      <iframe [src]="this.iframeURL" frameborder="0" webkitallowfullscreen="true" allowfullscreen="true"
      mozallowfullscreen="true" allowfullscreen="true" (load)="addListenerInIframe();"  allowSyntheticDefaultImports></iframe>
    </div>
  </div>
</ng-template>

