
.game-frame
{
  background: url('/assets/imgs/bgLobby-v@2x.png') transparent;
  width:100%;
  height:100%;
}

#game-outlet
{
  background: url('/assets/imgs/bgLobby-v@2x.png') transparent;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;

  height: 100%;



}

.game-frame
{
  width:100%;
  height:100%;

}

iframe
{
  min-height:320px;
  min-width:548px;
  max-height:494px;
  max-width:840px;
  width:100vh;
  height:100vw;

  transform: rotate(90deg);
}


