
.game-frame
{
  background: url('/assets/imgs/bgLobby-v@2x.png') transparent;
  min-height:320px;
  min-width:548px;
  max-height:494px;
  max-width:840px;
  width:100vh;
  height:100vw;


  transform-origin: center;
  transform: rotate(90deg);
}

iframe
{
  min-height:320px;
  min-width:548px;
  max-height:494px;
  max-width:840px;
  width:100vh;
  height:100vw;
}


