
.landscape-frame
{
  background-color: black;
  display: flex;
  // for android mobile
  @media screen and (max-width: 500px) and (orientation: portrait){
    width:100vh;
    height:100vw;
    transform-origin: center;
    transform: rotate(90deg);
  }
  @media screen and (max-height: 500px) and (orientation: landscape) {
    width:100vw;
    height:100vh;
    transform-origin: center;
    transform: rotate(90deg);
  }

  // for PC
  @media screen and (min-width: 501px) and (min-height: 500px) {
    height: 100vh;
    width: 100vw;
  }

  iframe
  {
    height: 100%;
    width: 100%;
  }
}



.portrait-frame {
  background-color: black;
  display: flex;

  // for android mobile
  @media screen and (max-width: 500px) and (orientation: portrait){
    width:100vw;
    height:100vh;
  }
  @media screen and (max-height: 500px) and (orientation: landscape) {
    width: 100vh;;
    height:100vw;
  }
  // for PC
  @media screen and (min-width: 501px) and (min-height: 500px) {
    height: 100vh;
    width: 100vw;
  }
  iframe
  {
    height: 100%;
    width: 100%;
  }
}

// for ios
.fixed iframe {
  /* This only fits iframe inside iframe-container but prevents scrolling */
  width: 0;
  height: 0;

  min-width: 100%;
  min-height: 100%;
}
.ios-portrait-body {
  // mobile portrait
  @media screen and (max-width: 500px) and (orientation: portrait) {
    height: 100vh;
    width: 100vw;
  }
  @media screen and (max-height: 500px) and (orientation: landscape) {
    height: 100vw;
    width: 100vh;
  }
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.ios-landscape-body {
  // mobile portrait
  @media screen and (max-width: 500px) and (orientation: portrait) {
    height: 100vw;
    width: 100vh;

    transform-origin: center;
    transform: rotate(90deg);
  }
  @media screen and (max-height: 500px) and (orientation: landscape) {
    height: 100vh;
    width: 100vw;

    transform-origin: center;
    transform: rotate(90deg);
  }
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.no-scrollbar {
  position: relative;
  -ms-overflow-style: none;
}

.no-scrollbar iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.iframe-container {
  width: 100%;
  height: 100%;

  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
